.home {
  display: flex;

  .homeContainer {
    flex: 4;

    .widgets,
    .charts {
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
    }

    .charts {
      justify-content: space-between;
      padding: 5px 0px;
      height: 300px;
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      margin: 20px;
      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}
